.schedule-card {
    height: 4.5rem;
    margin-top: 3rem;
}

.schedules {
    margin-bottom: 30rem;
}

.subject {
    font-weight: bold;
    font-family: 'Raleway';
}

.join-button {
    background-color: #ff7101;
    border-color: #ff7101;
    color: #eee;
    font-weight: bold;
    font-family: 'Raleway';
}

.user-name {
    color: #ff7101;
}

.greeting {
    margin-top: 3rem;
    text-align: center;
}

.scheduleDate {
    text-align: center;
}

.about-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}