<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item mr-3"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><i
                class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item mr-3"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><i
                class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item mr-3"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><i
                class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item mr-3"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><i
                class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item mr-3"><a href="mailto:myshikshanaonline@gmail.com" target="_blank"><i
                class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p style="font-weight: bold;color: #807272; font-family: 'Raleway', sans-serif;">Contact: <span style="color: #312b2b; letter-spacing: 0.3px;">+91-9632825777</span></p>
                <p style="font-weight: bold;color: #807272; font-family: 'Raleway', sans-serif;">Address: <span style="color: #312b2b; letter-spacing: 0.3px;">No.25, 1st Main Road, 3rd Stage, 3rd Block, Basaveshwaranagar, Banglore-560079</span></p>

                <p class="h6 mb-5" style="color: #E8584F;">© All rights Reserved.</p>
            </div>
            <hr>
        </div>
    </div>
</section>
<!-- ./Footer -->